* {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 399;
    font-style: normal;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(1, 1, 1), rgb(44, 44, 44));
    padding: 10px;
}


.todo-container {
    width: 700px;
    justify-self: center;
    background-color: lightslategray;
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding: 5px 15px 10px 10px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background: #ffffff14;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list h2 {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-list h2 img {
    width: 50px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(40, 162, 255);
    color: white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: tomato;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li span img {
    height: 20px;
    width: 20px;
    /*display: inline-block;*/
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../images/check.png);
}

ul li span {
    position: absolute;
    right: 0;
}
